<h1>Trucks#show</h1>

<table>
  <tr>
    <th>Id</th>
    <td><%= @truck.id %>
  </tr>
  <tr>
    <th>Capacity</th>
    <td><%= @truck.capacity %>
  </tr>
  <tr>
    <th>Size</th>
    <td><%= @truck.size %>
  </tr>
