<h1>Trucks#show</h1>

<table>
  <tr>
    <th>Id</th>
    <td><%= @truck.id %>
  </tr>
  <tr>
    <th>Capacity</th>
    <td><%= @truck.capacity %>
  </tr>
  <tr>
    <th>Cargo Size</th>
    <td><%= @truck.cargo_size %>
  </tr>
  <tr>
    <th>Packages</th>
    <td><%= @truck.packages.map(&:id) %></td>
  </tr>
</table>
